@import "~bootstrap/scss/bootstrap";

// styles.scss

$primary-color: #0056b3; // Blu scuro
$success-color: #218838; // Verde scuro
$danger-color: #c82333; // Rosso scuro
$background-color: #f8f9fa; // Sfondo bianco

.card {
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}